@import 'nib'

body 
    margin-top 60px
    margin-bottom 40px

#content
    >* 
        display none
        visibility false

    .active 
        display block
        visibility true

.navbar-inner 
	background-image: linear-gradient(top, #7777, #aaaa)